<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <script defer src="{{ url_for('static', filename='js/app.js') }}"></script>
    <title>Aprendiendo flexbox</title>
</head>
<body>
    <h2>Layout packaging</h2>
    <div class="container-nav">
        <div class="flex-left">
            <div class="caja">
                Logo
            </div>
            <div class="caja">
                Nombre Pagina
            </div>
        </div>
        <div class="flex-right">
            <div class="caja">
                Desarrollador
            </div>
            <div class="caja">
                Login
            </div>
        </div>
    </div>


    <img onclick="refreshImage('grafica','/static/img/grafica.png')" id='grafica' src="/static/img/grafica.png" width="500"/>


</body>
</html>